body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    background-color: white;
    z-index: 1;
}

.header-leading, 
.header-trailing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-leading {
    padding-left: 1rem;
    justify-content: flex-start;
}
.header-trailing {
    padding-right: 1rem;
    justify-content: flex-end;
}

.nav-visible {
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 4.5rem;
    position: fixed;
    z-index: 5;
    box-shadow: 0 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
}

.nav-hidden {
    display: none;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: lighter;
    gap: 1rem;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.nav-link:hover {
    background-color: #555;
}

#app {
    margin-top: 4rem;
    background-color: aquamarine;
    padding-left: 1rem;
    padding-right: 1rem;
}